@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: #20201D;
}

@keyframes zoomBounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@layer utilities {
  .animate-zoomBounce {
    animation: zoomBounce 0.3s ease-in-out;
  }
}

.slide-in
{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #4B502D calc(0%), #E1B40C calc(120%));
  transform-origin: bottom;
  z-index: 1000;
}

.slide-out
{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #4B502D calc(0%), #E1B40C calc(120%));
  transform-origin: top;
  z-index: 1000;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b2929;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}