.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: #333;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensure the navbar is on top of other content */
  }
  
  .navbar-logo img {
    height: 10%;
    cursor: pointer;
    object-fit: contain;
  }
  
  .links {
    display: flex;
    gap: 10%;
  }
  
  .links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .links a:hover {
    text-decoration: underline;
  }