*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #20201D;
    --secondaryColor: #f5f5f4;
    --primaryAccent: #4B502D;
    --secondaryAccent: #E1B40C;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}

.beta-logo {
  fill: var(--secondaryColor);
  stroke: var(--secondaryColor);
}

.hero {
  width: 100vw;
  height: 110vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--secondaryColor);
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.blur-overlay {
  position: absolute;
  bottom: -5vh;
  width: 110%;
  height: 10vh;
  background: var(--primaryColor); /* Use your CSS variable here */
  filter: blur(15px);
  opacity: 1; /* Adjust opacity as needed */
  z-index: 10;
}

.hero-text-container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.hero-text {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  z-index: 1;
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure it stays above other elements */
}

.aboutpage-container {
  background-color: var(--primaryColor);
}